<div class="container-fluid mt-3">
  <table *ngIf="tasks.length > 0" class="table table-bordered table-striped w-75 ">
    <thead class="table-light text-center align-middle">
      <tr>
        <th>S.No</th>
        <th></th>
        <th>Task ID</th>
        <th>Description</th>
        <th>Status</th>
        <!-- <th style="width: 20%;">Actions</th> -->
      </tr>

      <tr>
        <th></th>

        <th></th>
        <th class="position-relative">
          <input type="search" class="form-control form-control-sm pe-4" placeholder="Search Task ID"
            [(ngModel)]="searchTaskId" />
        </th>


        <th class="position-relative">
          <input type="search" class="form-control form-control-sm pe-4" placeholder="Search Description"
            [(ngModel)]="searchDescription" />
        </th>


        <th class="position-relative">
          <input type="search" class="form-control form-control-sm pe-4" placeholder="Search Status"
            [(ngModel)]="searchStatus" />
        </th>


      </tr>

    </thead>

    <tbody>
      <ng-container *ngFor="let task of tasks | taskFilter:searchTaskId:searchDescription:searchStatus; let i = index">
        <tr>

          <td> {{ i + 1 }}</td>
          <td class="text-center align-middle">

            <button class="btn btn-sm  ms-2" (click)="toggleStatusSection(i)" title="Toggle Status">
              <i [ngClass]="statusToggle === i ? 'bi-chevron-up' : 'bi-chevron-down'"></i>
            </button>
          </td>

          <td class="text-center align-middle">{{ task.taskid }}</td>

          <td class="align-middle">{{ task.description }}</td>

          <td class="text-center align-middle">

            <span [ngClass]="{
            'text-warning': task.status === 'Pending',
            'text-success':task.status=='Success'
          }">
              {{task.status}}
            </span>
          </td>

          <!-- <td class="text-center align-middle">
          <button (click)="editTask(i)" class="btn btn-warning btn-sm">Edit</button>
          <button (click)="deleteTask(i)" class="btn btn-danger btn-sm mx-2">Delete</button>
        </td> -->
        </tr>


        <tr *ngIf="statusToggle === i">
          <td colspan="6" class="p-3 bg-light">
            <div class="d-flex align-items-center gap-4">
              <label class="form-check-label">
                <input type="radio" class="form-check-input me-1" [name]="'status' + i" value="Pending"
                  [(ngModel)]="task.tempStatus" />
                Pending
              </label>
              <label class="form-check-label">
                <input type="radio" class="form-check-input me-1" [name]="'status' + i" value="Success"
                  [(ngModel)]="task.tempStatus" />

                Success
              </label>
              <button (click)="updateTaskStatus(i)" class="btn btn-primary btn-sm">Save</button>
            </div>

          </td>
        </tr>
      </ng-container>

    </tbody>

  </table>

  <p *ngIf="tasks.length === 0">No tasks available.</p>
</div>